<div class="row">
    <div class='col-sm-12 col-lg-12'>
        <button ng-hide='openForm' ng-click='openForm = !openForm' class='btn btn-primary'>See Add Outing</button>
    </div>
    <div class='col-sm-12 col-lg-12'>
        <button ng-show='openForm' ng-click='openForm = !openForm' class='btn btn-primary'>Hide Add Outing</button>
    </div>
    <form ng-show='openForm' class="outing-form col-sm-12 col-md-12 col-lg-12 well" name="outingForm" novalidate>
        <h2>Add an outing, {{ userService.currentUser.name }}</h2>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" ng-model="outing.title">
        </div>
        <div class="form-group">
            <label for="title">YouTube Share URL</label>
            <input type="text" name="video" class="form-control" ng-model="outing.video">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" ng-model="outing.description"></textarea>
        </div>
        <label for="data-drop">Drag the gear used into the box below</label>
        <div class="thumbnail drop" data-drop="true" data-jqyoui-options ng-model="gears" multiple='true' jqyoui-droppable style='min-height:150px'>
            <div ng-repeat='gear in gears' class="btn btn-success col-xs-3 col-lg-3" data-drag="true" data-jqyoui-options multiple='true' ng-model="gear" ng-hide="!gear">
                <div class='col-xs-12 col-lg-12'><img class='gear-img' ng-src="{{gear.imgUrl}}" alt="{{gear.model}}"></div>
                <!--
                <div class='col-xs-12 col-lg-12'>{{gear.brand}}</div>
                <div class='col-xs-12 col-lg-12'>{{gear.model}}</div>
-->
            </div>
        </div>
        <div class='drag'>
        <div ng-repeat='product in products' class="btn btn-default col-xs-3 col-lg-3" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="product" jqyoui-draggable="{animate:true}" multiple='true' ng-hide="!product.brand">
            <div class='col-xs-12 col-lg-12'><img class='gear-img' ng-src="{{product.imgUrl}}" alt="{{product.model}}"></div>
            <!--
            <div class='col-xs-12 col-lg-12'>{{product.brand}}</div>
            <div class='col-xs-12 col-lg-12'>{{product.model}}</div>
-->
        </div>
        </div>
        <div class="row col-sm-12 col-lg-12">
            <button ng-click="saveOuting(outing, gears)" class="save btn btn-primary pull-down"><span class="glyphicon glyphicon-plus"></span> Save</button>
        </div>
    </form>

    <section class="col-sm-12 col-md-12 col-lg-12">
        <h3 ng-show='userService.currentUser.name'>{{ userService.currentUser.name }}'s</h3>
        <h3>Outings</h3>
        <div class="panel panel-default" ng-repeat="outing in outings">

            <div class="panel-heading">
                <h4>{{ outing.title }}</h4>
            </div>

            <youtube-video video-url=outing.video player-width="'100%'"></youtube-video>

            <div class="panel-body">
                <div class="pull-left">
                    <p>{{ outing.description }}</p>

                </div><br>
                <div class='col-sm-12 col-lg-12'>
                    <h4>Gear used on this outing</h4><span>Click for details</span>
                </div>
                <div class='row col-sm-2 col-lg-2' ng-repeat="gear in outing.gear">
                    <div>
                        <img ng-click='openDetails = !openDetails'class='outing-gear-img' ng-src="{{gear.imgUrl}}" alt="">
                        
                        <div ng-show='openDetails'class='col-sm-12 col-lg-12'>
                            <span><strong>{{gear.brand}}</strong></span><br>
                            <span>{{gear.model}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
